<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Control de Stock</title>

     

    

    <!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/" style="background-color: #1b5633;">La Naviera</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <div class="navbar-nav">
    <div class="nav-item text-nowrap">
      <a type="button" class="nav-link px-3" href="logout">Logout</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page" href="#" style="color:black;">
              <span data-feather="home"></span>
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/salidas">
              <span data-feather="file"></span>
              Salidas
            </a>
          </li>
           
          <li class="nav-item">
            <a href="/create" class="nav-link" href="#">
              <span data-feather="shopping-cart"></span>
              Entradas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/stock">
              <span data-feather="bar-chart-2"></span>
              Stock Actual
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Opciones</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
         
        
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
       
        

        <div class="btn-toolbar mb-2 mb-md-0">
          
           
        </div>
      </div>

       

      <h2>Insertar Producto</h2>
      <div class="table-responsive">

        <form action="/save" method="POST" style="display:inline-flexbox; margin:20px; padding: 20px;   border-style: solid; width: 300px; margin-left: 40%;">
        
          <div class="col-md-6">
            <label for="date" class="form-label">Date</label>
            <input type="date" class="form-control" id="date" name="date" style="width: 200px;">
          </div>
          <div class="col-md-6">
              <label for="codigo" class="form-label">Código</label>
              <input type="number" class="form-control" name="codigo" id="codigo" style="width: 100px;">
            </div> 
            <div class="col-md-4">
              <label for="producto" class="form-label">Producto</label>
              <select name="producto" id="producto" class="form-select" style="width: 250px;">
                 
                <option selected>Tacos Cabeza Rape</option>
                <option selected>Cabeza Rape Fresco</option>
                <option selected>Rabas de Poton(PATATAS)</option>
                <option selected>Rejos Poton IQF (500-1000)</option>
                <option selected>Rejos Poton IQF (1000-2000)</option>
                <option selected>Rodaja Maruca</option>
                <option selected>Filete Caballa</option>
                <option selected>Gallo (100-200)</option>
                <option selected>Cabeza Rape Bloque</option>
                <option selected>Rejo Bandeja (500)</option>
                <option selected>Filete De Lirio (40-60)</option>
                <option selected>Filete de Merluza (150-250)</option>
                <option selected>Lomo Caella (1/2-2KG)</option>
                <option selected>Lomo Caella (2-3KG)</option>
                <option selected>Rodaja Caella SP H/G CONG. IQF</option>
                <option selected>Vieira del Pacifico (10-20)</option>
                <option selected>Vieira del Pacifico (20-30)</option>
                <option selected>Recortes de Salmon Cong Bloq</option>
                <option selected>Cola de Merluza (250-350)</option>
                <option selected>Cogote de Merluza 2CM Cong</option>
                <option selected>Calamar Azores Envuelto (2000-3000)</option>
                <option selected>Calamar Azores Envuelto (3000+)</option>
                <option selected>Calamar Boston Cong Bandeja</option>
                <option selected>Calamar Patagonico Troceado (1KG)</option>
                <option selected>Pota Rejo Cong Bandeja (1KG)</option>
                <option selected>Pota Tubo Troceado Cong Bandeja (1KG)</option>
                <option selected>Pota Gran Sol IQF</option>
                <option selected>Porciones Salmon Salar 2PX (140GR)</option>
                <option selected>Rodaja de Caella</option>
                <option selected>Merluza Carioca (100-200)</option>
                <option selected>Calamar Envuelto (300-500)</option>
                <option selected>Cola de Rape Cong</option>
                <option selected>Puntilla de Japon</option>
                </select>
            </div>
            <div class="col-md-4">
              <label for="almacen" class="form-label">Almacén</label>
              <select id="almacen" name="almacen" class="form-select" style="width: 250px;">
                <option selected>Choose...</option>
                <option selected>Bergondo</option>
                <option selected>La Coruñesa</option>
                </select>
            </div>
            <div class="col-md-6">
              <label for="cajas" class="form-label">Cantidad de Cajas</label>
              <input type="number" class="form-control" id="Ccajas" name="Ccajas"  style="width: 80px;">
            </div> 
            <div class="col-md-6">
              <label for="kilos_totales" class="form-label">Kilos Totales</label>
              <input type="number" class="form-control" id="Ktotales" name="Ktotales" step="0.01" style="width: 100px;">
            </div>
            <div class="col-md-6">
              <label for="glaseo" class="form-label">Glaseo</label>
              <input type="number" class="form-control" id="glaseo" name="glaseo" style="width: 60px;">
            </div>
            <div class="col-md-6">
              <label for="lote" class="form-label">Lote</label>
              <input type="text" class="form-control" id="lote" name="lote" style="width: 120px;">
            </div>
            <div class="col-md-6">
              <label for="cliente" class="form-label">Cliente</label>
              <input type="text" class="form-control" name="cliente" id="cliente" style="width: 200px;">
            </div> 
            <div class="col-md-6">
              <label for="no_palet" class="form-label">Numero de Palet</label>
              <input type="number" class="form-control" name="Npalet" id="Npalet" style="width: 120px;">
            </div>
          <div class="col-12" style="margin-top: 10px;">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/stock" class="btn btn-secondary">Cancelar</a>
          </div>
        </form>
  
            </div>  
             
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>




        </table>
      </div>
    </main>
  </div>
</div>


    <script src="js/bootstrap.bundle.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script><script src="dashboard.js"></script>
  </body>
</html>